<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>Delete the user: <%= user.email %></h2>
    <form action="/user/<%=user.id%>?_method=DELETE" method="post">
        <label for="email">Password: </label>
        <input type="password" id="password" placeholder="enter password to delete" name="password"> <br>
        <button>submit</button>
    </form>
</body>
</html>