<form action="/user/newData" method="post">
    <h2>Enter new user</h2>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="enter your username" id="username"> <br>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="enter your password" id="password"> <br>
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="enter your email" id="email"> <br>
    <button>submit</button>
</form>